@import url('https://fonts.googleapis.com/css?family=Roboto');

@tailwind base;

@tailwind components;

.is-invalid {
    @apply border-red-600 border-2 mb-1 !important;
}

.invalid-feedback {
  @apply  text-xs tracking-wide font-extrabold text-red-600 !important;
}

.nav-item {
   @apply ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300 transition duration-150 ease-in-out;
}

.nav-active {
   @apply px-3 py-2 rounded-md text-sm font-medium leading-5 text-white bg-gray-900 transition duration-150 ease-in-out;
}

.nav-active:focus {
    @apply outline-none;
}

.nav-item:hover {
    @apply text-white bg-gray-700 ;
}

.nav-item:focus {
    @apply outline-none text-white bg-gray-700;
}

.link-active {
    @apply text-gray-100 tracking-wide text-sm font-bold bg-indigo-600 rounded-md px-3 py-2;
}

.link {
    @apply text-gray-100 tracking-wide font-bold text-sm ml-2 mr-3 rounded-md px-3 py-2;
}

.link:hover {
    @apply bg-indigo-800;
}

.location {
    margin-top: 0.3rem;
    left: 0.5rem;
    z-index: 20;
}

@tailwind utilities;
